---
import BlogLayout from '../../layout/blog.astro';
import ArticleList from '../../component/ArticleList.astro';
import {getArticles, getCategories} from '../../scripts/microcms';

export async function getStaticPaths() {
    const categoryMeta = await getCategories();
    const {contents} = categoryMeta;
    const content = await Promise.all(contents.map(async (category) => {
        const articles = await getArticles({
            filters: `tags[equals]${category.id}`,
        });

        return {
            params: { tag: category.name },
            props: { posts: articles.contents, description: category.description },
        };
    }));

    return content;
}

const {tag} = Astro.params;
const {posts, description} = Astro.props;
const pageTile = `${tag}の記事一覧`;
---

<BlogLayout pageTile={pageTile}>
    <div class='p-4 order-1 w-3/4 leading-relaxed md:p-0 md:w-full'>
        <section class='block'>
            <h2 class='text-6xl leading-relaxed border-b border-neutral-700 mt-0 mb-12 md:text-3xl'>
                {pageTile}
            </h2>
            {description ? <p class='text-3xl leading-relaxed mb-12 md:text-2xl'>{description}</p> : null}
            {posts ? <ArticleList posts={posts} /> : null}
        </section>
    </div>
</BlogLayout>
