---
import '../styles/main.css';
import BlogName from '../component/BlogName.astro';
import TheSidebar from '../component/TheSidebar.astro';

const { pageTitle, pageTitleElement } = Astro.props;
const title = pageTitle ? `${pageTitle} | So What!?` : 'So What!?'
const url = `https://tkskto.me/blog/${pageTitle}/`;
---
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="This is takeshi kato\'s Web blog." />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="manifest" type="manifest" href="/blog/manifest.json" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta property="og:title" content={title}>
        <meta property="og:description" content="This is takeshi kato\'s Web log.">
        <meta property="og:type" content="website">
        <meta property="og:url" content={url}>
        <meta property="og:image" content="https://tkskto.me/blog/ogp.png">
        <meta property="og:locale" content="ja_JP">
        <meta name="twitter:card" content="summary_large_image">

        <meta property="og:site_name" content="So What!?">
        <meta name="twitter:creator" content="@tkskto">
        <script>
            navigator.serviceWorker.register('/blog/sw.js');
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-18FD7QTMFP"></script>
    </head>
    <body class="bg-slate-100">
    <div class="str-root-blog w-full min-h-full break-all p-8 bg-slate-100 text-neutral-900 leading-normal">
        <div class="str-article">
            <BlogName Element={pageTitleElement} />
            <div class="flex md:flex-col">
                <TheSidebar />
                <slot />
            </div>
        </div>
    </div>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-18FD7QTMFP');
    </script>
    </body>
</html>
